<header>
        <div class="logo">
            <a href="index.html"><img src="img/logo.png" alt="Logo"></a>
        </div>
        <nav>
            <div class="menu-toggle" id="menu-toggle">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
            <ul class="nav-list" id="nav-list">
                <li><a href="index.html">Home</a></li>
                <li><a href="sobre.html">Sobre</a></li>
                <li><a href="repositorio.html">Repositório</a></li>
                
                
            </ul>
        </nav>
    </header>