/* Estilos gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Estilos do cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #3e7c45;
    color: #fff;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header .logo img {
    height: 50px;
}

/* Estilos de navegação */
nav ul {
    list-style: none;
    display: flex;
    position: relative;
}

nav ul li {
    margin: 0 10px;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}


/* Menu Toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 4px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list.active {
        display: flex;
    }

}

main {
    margin-top: 80px; /* Compensa a altura do cabeçalho fixo */
    margin-bottom: 80px; /* Compensa a altura do rodapé fixo */
    padding: 20px;
}

.section1, .section2, .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 30px;
    margin-bottom: 30px;
    background-color: #fcfbfb;
    
}

.section1 img {
    max-width: 40%;
    height: auto;
    margin-bottom: 20px;
    padding: 20px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    background-color: #3e7c45;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer img {
    max-height: 70px;
    max-width: 90px;
    margin-left: 10px;
    padding: 10px;
    
}

.footer1 {
    
    display: flex;
    align-items: center;
    padding-right: 30px;
    
}
